.player-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer; // If the player view is clickable

  .player-icon-container {
    position: relative;
    width: 5px; // Set the width of the SVG icon
    height: 5px; // Set the height of the SVG icon to maintain aspect ratio

    svg {
      width: 5%;
      height: 5%;
    }

    .player-number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 1.2em; // Adjust based on your preference
      color: #fff; // This should be dynamic based on player.numberColor
      z-index: 2; // Ensure the number appears above the SVG
    }

    .player-name {
      position: relative;
      bottom: 200%; /* Adjusted to 0px to bring the text up directly below the shirt */
      left: 1000%;
      transform: translate(-50%, -50%); /* This will shift the text down by its own height after centering */
      font-size: 0.8em; // Adjust based on your preference
      color: #fff; // This should be dynamic based on player.nameColor
      white-space: nowrap; // Keep the name on a single line
      z-index: 1; // Below the number if overlapping, adjust as needed
    }

  }
}
