.player-card { /* Replace with the exact color code from your design */
  color: white;
  border-radius: 7.5px; /* Adjust to match your design */
  padding: 7.5px;
  display: inline-block;
  text-align: center;
}

.player-info-card {
  background-color: #0E131F; /* Replace with the exact color code from your design */
  color: white;
  border-radius: 7.5px; /* Adjust to match your design */
  padding: 7.5px;
  display: inline-block;
  text-align: center;
}

.player-name {
  background-color: #e01a4f;
  font-size: 0.8em; /* Adjust based on your design */
  border-radius: 7.5px; /* Adjust to match your design */
  padding: 7.5px;
}

.player-info {
  background-color: #0E131F;
  font-size: 0.8em; /* Adjust based on your design */
  border-radius: 7.5px; /* Adjust to match your design */
  padding: 7.5px;
}
