.sign-up-container {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
    margin-top: 100px;
}

.sign-up-text {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 16px;
    color: #e01a4f;
}

.sign-up-input {
    background-color: white;
    border-color: #e01a4f!important;
    color: white;
}

.sign-up-input:hover {
    border-color: #e01a4f;
}

.sign-up-button {
    background-color: #e01a4f !important;
}
.sign-up-button:disabled {
    background-color: grey !important;
    color: #ccc !important; /* Adjust the text color for better visibility */
    cursor: not-allowed; /* Change cursor to indicate button is disabled */
}
.soccer_player{
    width: 99.9%;
    height:auto;
}

.parent {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr; /* Adjust the proportion as needed */
    grid-column-gap: 10vh;
    grid-row-gap: 0vh;
}

.div1 {
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.div2 {
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -5vh;
}
