.team-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.team-selection-text {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  margin-top: 100px;
  margin-left: 10px;
  justify-content: center;
}

.save-team-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}