.team-view-table-container-draft {
  float: right;
  justify-content: right;
  align-items: inherit;
  align-content: inherit;
  margin-right: 1%;
  margin-bottom: 2%;
  margin-top: 5%;
}

.draft-page-header {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  margin-top: 100px;
  margin-left: 10px;
  justify-content: left;
  display: flex;
  flex-direction: column;
  align-items: inherit;
  width: 100%;
}