.not-found {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
  color: #e01a4f;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-left: 10px;
}